<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>56fc2ddaa5ac14970921ad6a</string>
		<key>Name</key>
		<string>Matthijs Logemann</string>
		<key>Location</key>
		<string>Maarn, Netherlands</string>
		<key>Tasks</key>
		<array>
			<string>Database</string>
			<string>iOS</string>
			<string>Apple Watch</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>56fc25ee5840978d849822b3</string>
		<key>Name</key>
		<string>Andrew Walker</string>
		<key>Location</key>
		<string>Edinburgh, UK</string>
		<key>Tasks</key>
		<array>
			<string>iOS</string>
			<string>Design</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>56fc24dc5840978d849822b2</string>
		<key>Name</key>
		<string>Oliver Binns</string>
		<key>Location</key>
		<string>London, UK</string>
		<key>Tasks</key>
		<array>
			<string>Web</string>
			<string>iOS</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>56fc3d96a5ac14970921ad7a</string>
		<key>Name</key>
		<string>Michie Ang</string>
		<key>Location</key>
		<string>Manila, Philippines</string>
		<key>Tasks</key>
		<array>
			<string>iOS</string>
			<string>Project Management</string>
			<string>Database</string>
			<string>Web</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>56fc2c8e5840978d849822ba</string>
		<key>Name</key>
		<string>Nicola Giancecchi</string>
		<key>Location</key>
		<string>San Marino, SMR</string>
		<key>Tasks</key>
		<array>
			<string>Design</string>
			<string>iOS</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>56fc3b1ba5ac14970921ad78</string>
		<key>Name</key>
		<string>Sam Eckert</string>
		<key>Location</key>
		<string>Stuttgart, Germany</string>
		<key>Tasks</key>
		<array>
			<string>iOS</string>
			<string>Design</string>
			<string>Apple Watch</string>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>56fc31c9a5ac14970921ad6f</string>
		<key>Name</key>
		<string>Grey Chen</string>
		<key>Location</key>
		<string>Beijing, China</string>
		<key>Tasks</key>
		<array>
			<string>iOS</string>
			<string>Design</string>
		</array>
	</dict>
</array>
</plist>
