<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Scholars</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.wwdcscholars.URLScheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wwdcscholars</string>
				<string>WWDCScholars</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>93</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>d870990c31d5e6607e80fc418397610c59340eec</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Find Scholar's location relative to you</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>barButtonItemIconAccountFilled</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Some subTitle</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>My Profile</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).OpenMyProfile</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>favouriteFilled</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Some subTitle</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Favorites</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).OpenFavorites</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>tabBarIconBlogFilled</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Some subTitle</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Blog</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).OpenBlog</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>tabBarIconChatFilled</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Some subTitle</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Chat</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).OpenChat</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
