github "Alamofire/Alamofire" ~> 4.0
github "Alamofire/AlamofireImage" ~> 3.1
github "jessesquires/JSQSystemSoundPlayer"
github "krzyzanowskim/CryptoSwift"
github "soheilbm/Firebase" ~> 3.6.0
github "realm/realm-cocoa"
github "SwiftyJSON/SwiftyJSON"
github "naoty/Timepiece"

